[submodule "airflow"]
	path = airflow
	url = https://github.com/CloudStream-Innovations/airflow.git
[submodule "notebooks"]
	path = notebooks
	url = https://github.com/CloudStream-Innovations/notebooks.git
[submodule "assignment"]
	path = assignment
	url = https://github.com/CloudStream-Innovations/assignment.git
[submodule "output-artifacts"]
	path = output-artifacts
	url = https://github.com/CloudStream-Innovations/output-artifacts.git
[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/CloudStream-Innovations/infrastructure.git
[submodule "terraform-backend"]
	path = terraform-backend
	url = https://github.com/CloudStream-Innovations/terraform-backend.git
