[submodule "terraform-backend"]
	path = terraform-backend
	url = https://github.com/CloudStream-Innovations/terraform-backend.git
[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/CloudStream-Innovations/infrastructure.git
[submodule "airflow"]
	path = airflow
	url = https://github.com/CloudStream-Innovations/airflow.git
[submodule "notebooks"]
	path = notebooks
	url = https://github.com/CloudStream-Innovations/notebooks.git
[submodule "assignment"]
	path = assignment
	url = https://github.com/CloudStream-Innovations/assignment.git
[submodule "main-solution"]
	path = main-solution
	url = https://github.com/CloudStream-Innovations/main-solution.git
